#animal-photos{
	border:1px solid black; 
	background-color:gray;
	margin: 0px 60px 0px 60px;
	border-radius:5px;
/* display:flex; */
}
img{
	height:100px;
	width:100px;
	border:1px solid gray;
	margin:20px;
	border-radius:15px;
}
#photo-heading{
	text-align:center;
}
body{
	background-color:black;
}